@model BTProject1.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>

<div class="content overflow-hidden">
    <div class="col-md-8">
        <div class="well">
            <h5 style="padding:1px; color:#816bb1"><strong> Project Name: @Model.Name</strong><span class="pull-right">Created On @Model.DateCreated.ToString("MMMM dd yyyy")</span></h5>
        </div>
    </div>
</div>
<p>
    <div class="btn-group" role="group" aria-label="...">
        @if (User.IsInRole("Administrator"))
        {
            <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </button>
        }
        @if (User.IsInRole("Project Manager"))
        {
            <button type="button" class="btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) </button>
        }
        <button type="button" class="btn btn-default">@Html.ActionLink("Back to List", "Index")</button>
    </div>
 
    
</p>
<br/>

 