@{
    ViewBag.Title = "Home Page";
}



<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    


    <link rel="shortcut icon" href="~/Images/Spider.png">
    
    <title>Spider Web</title>
    <!-- jQuery -->
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
   
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    
    <script src="/bower_components/datatables/media/js/jquery.dataTables.js"></script>

    <script src="/Scripts/DataTables-1.10.4/dataTables.bootstrap.js"></script>
    
    <link href="/Content/DataTables-1.10.4/css/jquery.dataTables-theme.css" rel="stylesheet" />
    <!-- Font Awesome-->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
     <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />

    <!-- Timeline CSS -->
    <link href="/dist/css/timeline.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="/dist/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Morris Charts CSS -->
    <script src="/bower_components/morrisjs/morris.js" rel="stylesheet"></script>
    <link href="/Content/Site.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top active" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Spider Web</a>
            </div>
            <!-- /.navbar-header -->
            
            @Html.Partial("_LoginPartial")
     
   
                <!-- /.navbar-top-links -->

                <div class="navbar sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse active">
                        <ul class="nav in" id="side-menu">
                            <li>
                                <a href="/Projects/Index" class="active"><i class="fa fa-bug fa-2x"></i> Bug Tracker<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    @if (User.IsInRole("User"))
                                    {
                                        <li>
                                            <a href="/Projects/Index"><i class="fa fa-briefcase fa-lg"></i> Projects </a>
                                        </li>
                                        <li>
                                            <a href="/Tickets/Index"><i class="fa fa-ticket fa-lg"></i> Tickets </a>
                                        </li>
                                    }
                                  
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <li>
                                            <a href="/RoleManagement/ListRoles"><i class="fa fa-users fa-lg"></i> Roles </a>
                                        </li>
                                    }
                                    
                                </ul>
                                <!-- /.nav-second-level -->
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" style="min-height:648px;">
            <div class="">
                <br />
                @RenderBody()
            </div>

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/bower_components/raphael/raphael-min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dist/js/sb-admin-2.js"></script>


    @RenderSection("scripts", required: false)


</body>
</html>
@*<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>*@
